<template>
    <main>
        <v-content class="mx-5">
            <v-container
                fluid
                fill-height
            >
                <transition name="fade" mode="out-in" >
                    <router-view></router-view>
                </transition>
            </v-container>
        </v-content>
    </main>
</template>
<script>
export default {

}
</script>