<template>
    <v-app-bar
        clipped-left
        app
        color="red darken-2"
        dark
    >
        <v-app-bar-nav-icon @click.stop="$store.commit('CHANGE_LEFT_SIDEBAR')" />
        <v-toolbar-title
            style="width: 300px"
            class="ml-0 pl-4"
        >
            <span class="hidden-sm-and-down">Logicars</span>
        </v-toolbar-title>
        <v-text-field
            flat
            solo-inverted
            hide-details
            prepend-inner-icon="mdi-magnify"
            label="Search"
            class="hidden-sm-and-down"
        />
        <v-spacer />
        <v-menu
            transition="slide-y-transition"
            bottom
        >
            <template v-slot:activator="{ on }">
                <v-btn
                class="purple"
                color="grey darken-3"
                dark
                v-on="on"
                fab
                small
                >
                <v-icon>mdi-account</v-icon>
            </v-btn>
            </template>
            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    @click="accountSettings(i)"
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-app-bar>
</template>
<script>
export default {
    data: () => ({
      dialog: false,
      drawer: null,
      fab:false,
      items: [
        { title: 'Change password' },
        { title: 'Logout' },
      ],
      offset:true,
      show:false,
    }),
    methods: {
        accountSettings(event) {
            if (event===1) {
                axios.post('/api/logout')
                    .then(data=>{
                        this.$router.push({name:'login'})
                        location.reload()
                    })
            } else {
                this.$router.push({name:'changepassword'})
            }
        }
    }
}
</script>