<template>
  <v-navigation-drawer
    v-model="left_side_bar"
    app
    clipped
    class="elevation-10" 
    dark
  >
    <v-list class="pt-0">
    	<template v-for="item in items">

        <v-list-group
          v-if="item.children"
          :prepend-icon="item.icon"
          v-model="sublist"
          value="true"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-title>{{item.text}}</v-list-item-title>
          </template>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              :to="{name:child.route}"
            >
            <v-list-item-title v-text="child.text"></v-list-item-title>
            <v-list-item-action>
              <v-icon >{{child.icon}}</v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list-group>

        <v-list-item
        	v-else
          :key="item.text"
          :to="{name:item.route}"
          @click="sublist=false"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

     	</template>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      items: [
        { icon: 'mdi-view-dashboard', text: 'Dashboard', route: 'dashboard'},
        { icon: 'mdi-bullhorn', text: 'Annonces', route:'annonces' },
        { icon: 'mdi-handshake', text: 'Transactions', route: 'transactions' },
        { icon: 'mdi-account-group', text: 'Clients', route: 'clients' },
        { icon: 'mdi-truck', text: 'Transporteurs', route: 'transporters' },
        {
          icon: 'mdi-settings',
          'icon-alt': 'mdi-chevron-up',
          text: 'Paramètres',
          model: false,
          route: 'parameter',
          children: [
            { text: 'Categories', route: 'categories' },
            { text: 'Configurations', route: 'configurations' },
          ],
        },
      ],
    }),
    computed: {
      left_side_bar:{
            get: function () {
                return this.$store.getters.left_sidebar_status
            },
            set: function (newval) {
               if (this.$route.name.indexOf("ategories")!=-1 || this.$route.name.indexOf("onfiguration")!=-1) {
                    this.sublist=true
                }
            }
      }
    },
    mounted() {

    }

}
</script>
