<template>
  <div>
    <div class="col-12">
      <div  class="card">
      	<div class="card-header">
      		
        	<h2 >Change Password</h2>
      	</div>

        <form >
          <div  >
            <label>Current Password</label>
            <input type="password" name="password" v-model="password" >
            <!-- <span v-show="errors.has('password')" class="is-danger">{{ errors.first('password') }}</span> -->
          </div>

          <div >
            <label>New Password</label>
            <input type="password" name="newPassword" v-model="newPassword" >
            <!-- <span v-show="errors.has('newPassword')" class="is-danger">{{ errors.first('newPassword') }}</span> -->
          </div>

          <div  >
            <label>New Password</label>
            <input type="password" name="confirmPassword" v-model="confirmPassword">
            <!-- <span v-show="errors.has('confirmPassword')" class="is-danger">{{ errors.first('confirmPassword') }}</span> -->
          </div>

          <button type="submit" >Change password</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    data () {
        return {
            password: '',
            newPassword: '',
            confirmPassword: '',
            notification: {
                message: '',
                type: ''
            }
        }
    },
    computed: {

    },
    methods: {
        changePassword () {
            // const token = localStorage.getItem('tweetr-token')

            // axios
            //     .put(
            //         '/account/change_password',
            //         {
            //             password: this.password,
            //             newPassword: this.newPassword
            //         },
            //         {
            //             headers: {
            //                 Authorization: `Bearer ${token}`
            //             },
            //         }
            //     )
            //     .then(response => {
            //         // clear form inputs
            //         this.password = this.newPassword = this.confirmPassword = ''

            //         // display success notification
            //         this.notification = Object.assign({}, this.notification, {
            //             message: response.data.message,
            //             type: 'success'
            //         })
            //     })
            //     .catch(error => {
            //         // clear form inputs
            //         this.password = this.newPassword = this.confirmPassword = ''

            //         // clear form error messages
            //         this.$nextTick(() => {
            //             this.$validator.reset()
            //         })

            //         // display error notification
            //         this.notification = Object.assign({}, this.notification, {
            //             message: error.response.data.message,
            //             type: 'danger'
            //         })
            //     })
        }
    }
}
</script>
<style scoped>

</style>