// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Layout
@import 'layout';

// Bootstrap
@import '~bootstrap/scss/bootstrap-grid';

.v-list-item--active{
	color:white !important;
	background-color:silver !important;
}
.v-list-item{

}

#mute {
  position: absolute;
}
#mute.on {
  opacity: 0.7;
  z-index: 1;
  background: white;
  height: 100%;
  width: 100%;
}


//Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.v-card{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)!important;
}

.chip-usage {
  width:100%;
  margin-bottom:5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:25px;
  height:auto;
  padding-top:5px;
  padding-bottom:5px;
  border:1px solid #566; 
}

.name {
  color: #4E342E;
}

.name-2 {
  color: #566; 
}



