<template>
	<v-row>
		<v-col lg="6">
			<measurement/>
		</v-col>
		<v-col lg="6">
			<weight/>
		</v-col>
	</v-row>
</template>
<script>
import measurement from "./Measurement.vue";
import weight from "./Weight.vue";
export default {
	components: {
		measurement,
		weight
	}
}
</script>
<style scoped>
	
</style>
