<template>
	<div>
		<v-card
			class="mx-auto"
		>
			<v-toolbar
				dark
				:color="basecolor"
			>

				<v-toolbar-title>Measurements</v-toolbar-title>

				<v-spacer></v-spacer>

				<v-btn icon>
					<v-icon @click="addNew">mdi-plus</v-icon>
					<!-- <v-icon v-else @click="edit=true">mdi-close</v-icon> -->
				</v-btn>

			</v-toolbar>
			<v-card-text>
				<delete-dialog/>
				<v-data-table
					:headers="measurements.headers"
					:items="measurements.contents"
					:server-items-length="measurements.count"
			        :loading="loader"
					item-key="id"
					hide-default-footer
					hide-default-footer
				>
					<template v-slot:item.status="{ item }">
						<v-switch
							dense
							:loading="item.id==loading"
							:flat="false"
							:inset="false"
							color="green darken-2"
							v-model="item.status"
							@change="update(item.status,item.id)"
						></v-switch>
					</template>
					<template v-slot:item.actions="{ item }">
						<v-btn 
							icon 
							:color="basecolor"
							@click="editMeasure(item)"
						>
			              	<v-icon>mdi-pencil</v-icon>
			            </v-btn>
						<v-btn 
							icon 
							:color="basecolor"
							@click="deleteMeasure(item.id)"
						>
			              	<v-icon>mdi-trash-can</v-icon>
			            </v-btn>
					</template>
				</v-data-table>
			</v-card-text>
		</v-card>
		<v-dialog 
			persistent
			v-model="dialog" 
			max-width="20%"
		>
			<addmeasurement :measurementData="measure" v-on:close="close"/>
        </v-dialog>
	</div>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import addmeasurement from "./Includes/AddMeasurement.vue";
const MeasureRepository = Repository.get("measures");
export default {
	data() {
		return {
			dialog:false,
			loading:0,
			measure:{},
			measurements:{
				headers:[
					{text:'Name',align:'left',sortable:false,value:'name'},
					{text:'Alias',align:'left',sortable:false,value:'alias'},
					{text:'Status',align:'left',sortable:false,value:'status'},
					{text:'Action',align:'center',sortable:false,value:'actions'},
				],
				contents:[],
			},
		}
	},
	methods: {
		addNew() {
			this.dialog=true
		},
		close() {
			this.dialog=false
			this.measure={}
			this.getMeasures()
		},
		deleteMeasure(id) {
      		this.$store.commit('CHANGE_DELETE',true)
			MeasureRepository.delete(id)
				.then(({data})=>{
					let index = this.measurements.contents.findIndex((item)=>{
						return item.id==id
					})
					this.measurements.contents.splice(index,1)
				})
		},
		editMeasure(event) {
			this.measure=event
			this.dialog=true
		},
		getMeasures() {
			MeasureRepository.get()
				.then(({data})=>{
					this.measurements.contents=data
				})
		},
		update(status,id) {
			MeasureRepository.updateStatus({status:status,id:id})
				.then(({data})=>{

				})
			
		},
	},
	watch: {
	   	dialog (val) {
	        val || this.close()
		},
	},
	computed: {
	
	},
	mounted() {

	},
	created() {
		this.getMeasures()
	},
	components: {
		addmeasurement,
	}
}
</script>
<style scoped>
	
</style>
