<template>
	<div>
		<v-card
			class="mx-auto"
		>
			<v-toolbar
				dark
				:color="basecolor"
			>

				<v-toolbar-title>Weights</v-toolbar-title>

				<v-spacer></v-spacer>

			<!-- 	<v-btn icon>
					<v-icon v-if="edit" @click="edit=false">mdi-pencil</v-icon>
					<v-icon v-else-if="statusloader">mdi-spin mdi-loading</v-icon>
				</v-btn> -->

				<v-btn icon>
					<v-icon @click="addNew">mdi-plus</v-icon>
				</v-btn>

			</v-toolbar>
			<v-card-text>
				<!-- <v-row>
					<v-col cols="12">
						<template v-for="measure in measurement" >
							<v-row>
								<v-checkbox
									lg="10"
									:label="measure.name"
									color="red darken-3"
									:input-value="measure.status"
									hide-details
									@change="update($event,measure.id)"
								></v-checkbox>
								<v-btn icon lg="2" >
									<v-icon  v-if="edit" @click="editMeasure(measure)">mdi-pencil</v-icon>
								</v-btn>
							</v-row>
						</template>
					</v-col>
				</v-row> -->
				<delete-dialog/>
				<v-data-table
					:headers="weights.headers"
					:items="weights.contents"
					:server-items-length="weights.count"
			        :loading="loader"
					item-key="id"
					hide-default-footer
					hide-default-footer
				>
					<template v-slot:item.status="{ item }">
						<v-switch
							dense
							:loading="item.id==loading"
							:flat="false"
							:inset="false"
							color="green darken-2"
							v-model="item.status"
							@change="update(item.status,item.id)"
						></v-switch>
					</template>
					<template v-slot:item.actions="{ item }">
						<v-btn 
							icon 
							:color="basecolor"
							@click="editWeight(item)"
						>
			              	<v-icon>mdi-pencil</v-icon>
			            </v-btn>
						<v-btn 
							icon 
							:color="basecolor"
							@click="deleteWeight(item.id)"
						>
			              	<v-icon>mdi-trash-can</v-icon>
			            </v-btn>
					</template>
				</v-data-table>
			</v-card-text>
		</v-card>
		<v-dialog 
			persistent
			v-model="dialog" 
			max-width="20%"
		>
			<addweight :weightData="weight" v-on:close="close"/>
        </v-dialog>
	</div>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import addweight from "./Includes/AddWeight.vue";
const WeightRepository = Repository.get("weights");
export default {
	data() {
		return {
			dialog:false,
			loading:0,
			weight:{},
			weights:{
				headers:[
					{text:'Name',align:'left',sortable:false,value:'name'},
					{text:'Alias',align:'left',sortable:false,value:'alias'},
					{text:'Status',align:'left',sortable:false,value:'status'},
					{text:'Action',align:'center',sortable:false,value:'actions'},
				],
				contents:[],
			},
		}
	},
	methods: {
		addNew() {
			this.dialog=true
		},
		close() {
			this.dialog=false
			this.weight={}
			this.getWeights()
		},
		deleteWeight(id) {
      		this.$store.commit('CHANGE_DELETE',true)
			WeightRepository.delete(id)
				.then(({data})=>{
					let index = this.weights.contents.findIndex((item)=>{
						return item.id==id
					})
					this.weights.contents.splice(index,1)
				})
		},
		editWeight(event) {
			this.weight=event
			this.dialog=true
		},
		getWeights() {
			WeightRepository.get()
				.then(({data})=>{
					this.weights.contents=data
				})
		},
		update(status,id) {
			WeightRepository.updateStatus({status:status,id:id})
				.then(({data})=>{

				})
			
		},
	},
	watch: {
	   	dialog (val) {
	        val || this.close()
		},
	},
	computed: {
	
	},
	mounted() {

	},
	created() {
		this.getWeights()
	},
	components: {
		addweight,
	}
}
</script>
<style scoped>
	
</style>
