<template>
	<v-card
	>	
		<v-data-table
			:headers="annonces.headers"
			:items="annonces.contents"
			:server-items-length="annonces.count"
			:loading="loader"
			:footer-props="footerPages"
			:items-per-page="10"
			@pagination="fetchAPage"
			@click:row="showData"
			class="elevation-1" 
		>
		</v-data-table>
		<!-- <v-row justify="center">
		    <v-dialog
		      	v-model="dialog"
		      	max-width="700"
		    >
		      	<v-card>
		        	<v-card-title class="headline">{{annonce.name}}</v-card-title>

			        <v-card-text>
			          	<p><strong>Description :</strong> {{annonce.description}}</p>
			          	<p><strong>Pick Address :</strong> {{annonce.pick_address}}</p>
			          	<p><strong>Drop Address :</strong> {{annonce.drop_address}}</p>
			          	<p><strong>Pick Date :</strong> {{annonce.pick_date}}</p>
			          	<p><strong>Status :</strong> {{annonce.status_id}}</p>
			        </v-card-text>

			        <v-card-actions>
			          	<v-spacer></v-spacer>
			          	<v-btn
			           		color="green darken-1"
			            	text
			            	@click="dialog = false"
			          	>
		            		Close
		          		</v-btn>
		        	</v-card-actions>
		      	</v-card>
		    </v-dialog>
	  	</v-row> -->
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const TransporterRepository = Repository.get("transporters");
const AnnonceRepository = Repository.get("annonces");
export default {
	data() {
		return {
			annonces: {
				headers:[
					{text:'Title',align:'left',sortable:false,value:'title'},
					{text:'Pick Date From',align:'left',sortable:false,value:'pickdaterange'},
					{text:'Pick Date To',align:'left',sortable:false,value:'dropdaterange'},
					{text:'Distance',align:'left',sortable:false,value:'distance'},
					{text:'Price',align:'left',sortable:false,value:'pivot.price'},
				],
				contents:[],
				count:0,
			},
			annonce:{},
			dialog:false,
		}
	},
	methods: {
		showData(event) {
			this.$router.push({name:'showAnnonces',params:{id:event.id}})
		},
		fetchAPage(event) {
			this.fetchData(event.page,event.itemsPerPage)
		},
		fetchData(page=1,per_page=10){
			TransporterRepository.show(this.$route.params.id,page,per_page)
				.then(({data}) => {
					this.annonces.contents=data.annonces.data
					this.annonces.count=data.annonces.total
				})
		},
	},
	mounted() {

	}
}
</script>
