<template>
	<v-row>
		<v-col>
			<v-card>
				<v-card-title>
					Transporteurs
					<v-spacer></v-spacer>
					<v-col class="d-flex " sm="5">
						<v-text-field
							v-model="search"
							label="Search"
							clearable
							single-line
							hide-details
							:append-icon="searching"
						></v-text-field>
					</v-col>
				</v-card-title>
				<v-data-table
					:headers="transporters.headers"
					:items="transporters.contents"
					:server-items-length="transporters.count"
			        :loading="loader"
			        :footer-props="footerPages"
				  	:items-per-page="transporterPage"
					@pagination="fetchPage"
					@click:row="fetchShow"
					class="elevation-1" 
				>
					<!-- row status in checkbox -->
			<!-- 		<template v-slot:item.is_verified="{ item }">
						<v-simple-checkbox v-model="item.is_verified" disabled></v-simple-checkbox>
					</template> -->
					<template v-slot:item.is_verified="{ item }">
						<v-switch
							dense
							:loading="item.id==loading"
							:flat="false"
							:inset="false"
							color="green darken-2"
							v-model="item.is_verified"
							@click.stop=""
							@change="verifyTransporter(item.id,item.is_verified)"
						></v-switch>
					</template>
					<!-- <template v-slot:top>
						<v-toolbar flat>
							<v-spacer></v-spacer>
							<v-switch v-model="singleExpand" label="Single expand" class="mt-2"></v-switch>
						</v-toolbar>
					</template> -->
					<!-- expand row -->
		<!-- 			<template v-slot:expanded-item="{ item }">
						<div class="m-3" style="width:100%"><strong>Address :</strong> {{item.address}}, {{item.city}} {{item.zip}}</div>
						<div class="m-3" style="width:100%"><strong>Telephone :</strong> {{item.telephone}}</div>
						<div class="m-3" style="width:100%"><strong>Date Creation :</strong> {{item.created_at}}</div>
					</template> -->
					<!-- customize default row -->
					<!-- <template v-slot:item.is_verified="{ item }">
						<v-chip :color="getColor(item.is_verified)" dark>{{ item.is_verified }}</v-chip>
					</template> -->
				</v-data-table>
			</v-card>
		</v-col>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const TransporterRepository = Repository.get("transporters");
export default {
	data() {
		return {
			loading: 0,
			search:'',
			searching:'mdi-magnify',
			time:null,
			transporters:{
				headers:[
					{text:'Company',align:'left',sortable:false,value:'company'},
					{text:'Name',align:'left',sortable:false,value:'fullname'},
					{text:'Alias',align:'left',sortable:false,value:'alias'},
					{text:'Email',align:'left',sortable:false,value:'email'},
					{text:'Verified',align:'left',sortable:false,value:'is_verified'},
				],
				contents:[],
				count:0,
			},
		}
    },
    methods: {
    	fetchShow(item){
			this.$router.push({name:'showTransporters',params:{id:item.id}})
    	},
    	fetchPage(event){
    		let keyword = this.search
			if (keyword) {
				this.fetchIndex(event.page,event.itemsPerPage,keyword)
			} else {
				this.fetchIndex(event.page,event.itemsPerPage)
			}
    	},
		fetchIndex(page=this.curr_page,per_page=this.per_page,value){
    		this.transporterPerPage=per_page
    		TransporterRepository.get(page,per_page,value)
		      	.then(({data}) => {
		      		this.transporters.contents = data.data
		      		this.transporters.count=data.total
					this.searching='mdi-magnify'
		      	})
		},
		verifyTransporter(id,value) {
			this.loading=id
			TransporterRepository.update({is_verified:value},id)
				.then(({data}) => {
					this.loading=0
				})
		},
    },
    watch: {
	  	search(value) {
			if (value) {
				clearTimeout(this.time)
				this.time = setTimeout( () => {
					this.fetchIndex(this.curr_page,this.per_page,value)
					this.searching="mdi-loading mdi-spin"
				}
					,500)
			} else {
				this.fetchIndex()
			}
	   	}	
	},
	computed:{
		
	},
    mounted() {

    },
    created() {
    	// this.fetchIndex()
    }
}
</script>
<style scoped>
	
</style>
