<template>
	<v-row no-gutters>
		<v-col sm="10">
			<!-- <v-btn :to="{name:'transporters'}" fab dark small color="danger"> -->
			<v-btn @click="$router.go(-1)"" fab dark small color="danger">
				<v-icon dark>mdi-arrow-left</v-icon>
			</v-btn>
		</v-col>
		<v-spacer></v-spacer>
		<v-col sm="2">
	        <v-select
	          	:items="transporterStatus"
	          	v-model="transporter.is_verified"
	          	item-text="text"
	          	item-value="id"
	          	label="Transporter Verification Status"
				@change="updateData"
				:loading="statusloader"
				dense
	        ></v-select>
		</v-col>
		<v-row >
			<v-col md="auto">
				<v-card
					max-width="350"
				>
					<v-img
						height="250"
						:src="transporter.logo?transporter.logo:'/img/transporteur.png'"
					></v-img>

					<v-card-title>{{transporter.company}}</v-card-title>

					<v-card-text>
						<!-- <v-row
							align="center"
							class="mx-0 mb-4"
						>
							<v-rating
								:value="4.5"
								color="amber"
								dense
								half-increments
								readonly
								size="14"
							></v-rating>

							<div class="grey--text ml-4">4.5 (413)</div>
						</v-row> -->

						<div class="subtitle-1">{{transporter.fullname}}</div>
						<div class="subtitle-3">{{transporter.fulladdress}}</div>
						<div class="subtitle-4">Email : {{transporter.email}} </div>
						<div class="subtitle-4">Tel # : {{transporter.telephone}} </div>
						<div class="subtitle-4">Status : {{transporter.is_verified?'Active':'Pending'}} </div>

					</v-card-text>

					<v-divider class="mx-4"></v-divider>

					<!-- <v-card-actions>
						<v-btn
							color="dark lighten-2"
							text
							@click="edit(transporter.id)"
						>
							Edit
						</v-btn>
					</v-card-actions> -->
				</v-card>
			</v-col>
			<v-col>
				<v-card>
					<v-tabs
					  	background-color="red darken-2"
					  	centered
				      	dark
				      	icons-and-text
				      	grow
				      	v-model="tab"
					>
						<v-tabs-slider></v-tabs-slider>
					  	<v-tab href="#tab-annonces">
					    	Annonce Bids
					    	<v-icon>mdi-bullhorn</v-icon>
					  	</v-tab>	
					  <!-- 	<v-tab href="#tab-annonces">
					    	Pending Delivery
					    	<v-icon>mdi-history</v-icon>
					  	</v-tab> -->
					  	<v-tab href="#tab-annonces">
					    	Active Delivery
					    	<v-icon>mdi-truck</v-icon>
					  	</v-tab>	
					  <!-- 	<v-tab href="#tab-annonces">
					    	Completed Delivery
					    	<v-icon>mdi-truck</v-icon>
					  	</v-tab>	 -->
					  	
					</v-tabs>
					<v-tabs-items v-model="tab">
					  	<v-tab-item
					        :value="'tab-annonces'"
					  	> 
					    	<annonces/>
					  	</v-tab-item>
				  	</v-tabs-items>
				</v-card>
			</v-col>
		</v-row>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import annonces from "./Includes/annonces.vue";
const TransporterRepository = Repository.get("transporters");
export default {
	data: () => ({
		transporterStatus:[
			{
				id:1,
				text:'Active'
			},
			{
				id:0,
				text:'Pending'
			},
		],
		transporter: {},
		tab: null,
	}),

	methods: {
		fetchPage(event){
			console.log(event)
    	},
		fetchData(){
			TransporterRepository.show(this.$route.params.id)
			.then(({data}) => {
				this.transporter = data.transporter
			})
		},
		edit(event){
			this.$router.push({name:'editTransporters',params:{id:event}})
		},
		updateData(event) {
			TransporterRepository.update({is_verified:event},this.$route.params.id)
                .then(({data}) => {
                })
		},
	},
	created() {
		this.fetchData()
	},
	components: {
		annonces,
	}
}
</script>
<style scoped>

</style>
