<template>
	<div v-if="$store.getters.alert.visibility">
<!-- 		<v-banner two-line :sticky="true" :class="$store.getters.alert.status == 0 ? 'light-blue darken-3' : ($store.getters.alert.status == 1 ? 'orange darken-1' : 'error') " dark>
        <v-avatar slot="icon" size="40">
            <v-icon large>
                mdi-information-outline
            </v-icon>
        </v-avatar>
        <div>{{$store.getters.alert.message}}</div>
        <template v-slot:actions>
            <v-btn v-if="$store.getters.banner_admin_status" small class="green darken-2" @click="hide_adminBanner">Oui! c'est noté</v-btn>
            <v-btn small class="green darken-2" @click="$store.commit('BANNER_HIDE')">Fermer</v-btn>
        </template>
    </v-banner> -->
        <v-alert
	      dense
	      outlined
	      :type="$store.getters.alert.status == 1 ? 'warning' : 'error'"
	    >
        	<div class="small">{{$store.getters.alert.message}}</div>
	    </v-alert>
	</div>
</template>
<script>
export default {
	
}
</script>