<template>
	<div class="text-center">
        <v-dialog
            v-model="deleteDialog"
            hide-overlay
            persistent
            width="300"
        >
            <v-card
                :color="basecolor"
                dark
            >
                <v-card-text>
                    Deleting item
                    <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
	</div>
</template>
<script>
export default {
	props: {
        content:{
            message:null,
            status:null,
        },
    }
}
</script>