<template>
	<v-card
	>	
		<v-data-table
			:headers="annonces.headers"
			:items="annonces.contents"
			:server-items-length="annonces.count"
			:loading="loader"
			:footer-props="footerPages"
			:items-per-page="10"
			@pagination="fetchAPage"
			@click:row="showData"
			class="elevation-1" 
		>
			<template v-slot:item.is_public="{ item }">
				{{item.is_public?"Public":"Archived"}}
			</template>
		</v-data-table>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const ClientRepository = Repository.get("clients");
const AnnonceRepository = Repository.get("annonces");
export default {
	data() {
		return {
			annonces: {
				headers:[
					{text:'Title',align:'left',sortable:false,value:'title'},
					{text:'Description',align:'left',sortable:false,value:'description',width:'40%'},
					// {text:'Pick Up Address',align:'left',sortable:false,value:'pick_address'},
					// {text:'Drop Address',align:'left',sortable:false,value:'drop_address'},
					{text:'Distance',align:'left',sortable:false,value:'distance'},
					{text:'Status',align:'left',sortable:false,value:'is_public'},
				],
				contents:[],
				count:0,
			},
			annonce:{},
			dialog:false,
		}
	},
	methods: {
		showData(event) {
			this.$router.push({name:'showAnnonces',params:{id:event.id}})
		},
		fetchAPage(event) {
			this.fetchData(event.page,event.itemsPerPage)
		},
		fetchData(page=1,per_page=10){
			ClientRepository.show(this.$route.params.id,page,per_page)
				.then(({data}) => {
					this.annonces.contents=data.annonces.data
					this.annonces.count=data.annonces.total
				})
		},
	},
	mounted() {

	}
}
</script>
