<template>
	<v-card
	>	
		<v-data-table
			:headers="payments.headers"
			:items="payments.contents"
			:server-items-length="payments.count"
			:loading="loader"
			:footer-props="footerPages"
			:items-per-page="10"
			@pagination="fetchAPage"
			@click:row="showData"
			class="elevation-1" 
		>
			<template v-slot:item.is_public="{ item }">
				{{item.is_public?"Public":"Archived"}}
			</template>
		</v-data-table>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const ClientRepository = Repository.get("clients");
const PaymentRepository = Repository.get("payments");
export default {
	data() {
		return {
			payments: {
				headers:[
					{text:'Title',align:'left',sortable:false,value:'title'},
					{text:'Status',align:'left',sortable:false,value:'is_public'},
				],
				contents:[],
				count:0,
			},
			annonce:{},
			dialog:false,
		}
	},
	methods: {
		showData(event) {
			this.$router.push({name:'showPayments',params:{id:event.id}})
		},
		fetchAPage(event) {
			this.fetchData(event.page,event.itemsPerPage)
		},
		fetchData(page=1,per_page=10){
			ClientRepository.get(this.$route.params.id,page,per_page)
				.then(({data}) => {
					console.log(data)
					this.payments.contents=data.payments.data
					this.payments.count=data.payments.total
				})
		},
	},
	mounted() {

	}
}
</script>
