<template>
	<v-card
	>	
		<v-data-table
			:headers="transporters.headers"
			:items="transporters.contents"
			:server-items-length="transporters.count"
			:loading="loader"
			:footer-props="footerPages"
			:items-per-page="10"
			@pagination="fetchAPage"
			@click:row="dialog=!dialog"
			class="elevation-1" 
		>
		</v-data-table>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const ClientRepository = Repository.get("clients");
export default {
	data() {
		return {
			dialog: false,
			transporters: {
				headers:[
					{text:'Transporteur ID',align:'left',sortable:false,value:'alias'},
					{text:'Annonce ID',align:'left',sortable:false,value:'annonce_id'},
					{text:'Amount',align:'left',sortable:false,value:'amount'},
					{text:'Status',align:'left',sortable:false,value:'status'},
					{text:'',value:'data-table-expand'},
				],
				contents:[],
				count:0,
			},
		}
	},
	methods: {
		fetchAPage(event) {
			this.fetchData(event.page,event.itemsPerPage)
		},
		fetchData(page=1,per_page=10){
			ClientRepository.show(this.$route.params.id,page,per_page)
				.then(({data}) => {
					// console.log(data)
				})
		},
	}
}
</script>
