<template>
    <v-card>
	    <v-card-title>
	      	<span class="headline"> {{title}} </span>
	    </v-card-title>

	    <v-card-text>
	    	<alert-dialog/>
	      	<v-container>
	        	<v-form
				    ref="form"
				    v-model="valid"
				    lazy-validation
				>
				    <v-text-field
				      	v-model="editedWeight.name"
				     	label="Name"
				     	:rules="rule"
				      	required
				      	ref="name"
				    ></v-text-field>
				    <v-text-field
				      	v-model="editedWeight.alias"
				     	label="Alias"
				     	:rules="rule"
				      	required
				      	ref="alias"
				    ></v-text-field>
  				</v-form>
	      	</v-container>
	    </v-card-text>
	    <v-card-actions class="mt-5">
	      	<v-spacer></v-spacer>
				<v-btn color="grey darken-1" text @click="close">Close</v-btn>
				<v-btn color="grey darken-4" :loading="statusloader" text @click="saveData">Save</v-btn>
		</v-card-actions>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const WeightRepository = Repository.get("weights");
export default {
	props: {
		weightData:{
			type: Object
		},
	},
    data() {
    	return {
    		editedWeight: {
    			name:'',
    			alias:'',
    		},
    		rule: [
    			v=>!!v || 'Input field is required',
	    	],
	    	snackbar:false,
	    	valid: true,
    	}
    },
    methods: {
    	saveData() {
    		this.validate()
    		if (!this.snackbar) return
    		if (!this.weightData.name) {
	    		WeightRepository.create(this.editedWeight)
	    			.then(({data})=>{
		    			this.close()
	    			})
    		} else {
	    		WeightRepository.update(this.editedWeight,this.editedWeight.id)
	    			.then(({data})=>{
	    				this.close()
	    			})
    		}
    	},
    	close() {
			this.resetValidation()
			this.reset()
			this.offAlert()
			this.$emit('close')
    	},
    },
    watch: {
    	weightData: {
    		handler(value) {
    			this.editedWeight=Object.assign({},value)
	    	},
	    	deep:true,
	    	immediate:true,
    	},
    	editedWeight: {
    		handler(value) {
			    if (!value.name) this.offAlert()
	    	},
	    	deep:true,
	    	immediate:true,
    	}
    },
    computed: {
    	title() {
    		return !this.weightData.name ? 'New weight' : 'Edit weight'
    	},
    },
    mounted() {

    }
}
</script>
<style scoped>

</style>