<template>
      
</template>
<script>
export default {
    data() {
    	return {
			title:'',
			description:'',
	      	// firstnameRules: [
		      //   v => !!v || 'First Name is required',
	      	// ],
	      	// lastnameRules: [
		      //   v => !!v || 'Last Name is required',
	      	// ],
	      	// email: '',
	      	// emailRules: [
		      //   v => !!v || 'E-mail is required',
		      //   v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
	      	// ],
	      	// select: null,
	      	// items: [
		      //   'Annonce',
		      //   'Transportuer',
	      	// ],
    	}
    },
    methods: {
    	
    },
    watch: {
    	
    }
}
</script>
<style scoped>

</style>