<template>
	<v-row>
		<v-col>
			<v-card>
				<v-card-title class="mb-0 pb-0">
					Annonces
					<v-spacer></v-spacer>
					<v-col class="d-flex " sm="5">
						<v-text-field
							v-model="search"
							label="Search"
							clearable
							single-line
							hide-details
							:append-icon="searching"
						></v-text-field>
					</v-col>
				</v-card-title>
				<v-data-table
					:search="search"
					:headers="annonces.headers"
					:items="annonces.contents"
					:server-items-length="annonces.count"
					:loading="loader"
					:footer-props="footerPages"
					:items-per-page="annoncePage"
					@pagination="fetchPage"
					@click:row="fetchShow"
					class="elevation-1" 
				>
					<!-- row status in checkbox -->
					<template v-slot:item.is_public="{ item }">
						<v-switch
							dense
							:loading="item.id==loading"
							:flat="false"
							:inset="false"
							color="green darken-2"
							v-model="item.is_public"
							@click.stop=""
							@change="togglerValue(item.id,item.is_public)"
						></v-switch>
					</template>
					<template v-slot:item.is_urgent="{ item }">
						{{item.is_urgent?'Yes':'No'}}
					</template>
				</v-data-table>
				
              	<!-- <v-dialog v-model="dialog" max-width="50%">
			      	<template v-slot:activator="{ on }">
			            <v-btn
			                :color="basecolor"
			                dark
			                absolute
			                top
			                right
			                fab
			                v-on="on"
			          	>

                			<v-icon>mdi-plus</v-icon>
              			</v-btn>
          			</template>
		          	<addAnnonce v-on:close="close"/>
		        </v-dialog> -->
			</v-card>
		</v-col>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import addAnnonce from "./Add.vue";
const AnnonceRepository = Repository.get("annonces");
export default {
	data() {
		return{
			annonces:{
				contents:[],
				count:0,
				headers:[
					{text:'Title',align:'left',sortable:false,value:'title'},
					{text:'Description',align:'left',sortable:false,value:'description',width:'40%'},
					{text:'Category',align:'left',sortable:false,value:'categories[0].name'},
					{text:'Total Bids',align:'center',sortable:false,value:'bidcount'},
					{text:'Published',align:'center',sortable:false,value:'is_public'},
					{text:'Urgent',align:'center',sortable:false,value:'is_urgent'},
					{text:'Created At',align:'left',sortable:false,value:'created_at'},
				],
			},
			dialog: false,
			filteredContent:{},
			filters: ['Archived','Open','Pending','Complete'],
			loading: 0,
			publishing:false,
			search:'',
			searching:'mdi-magnify',
			selectedFilters:['Archived','Open','Pending','Complete'],
			time:null,
		}
	},
	methods: {
		togglerValue(id,value) {
			this.loading=id
			AnnonceRepository.update({is_public:value},id)
				.then(({data}) => {
					this.loading=0
				})
		},
		fetchShow(item){
			this.$router.push({name:'showAnnonces',params:{id:item.id}})
		},
		fetchPage(event){
			let keyword = this.search
			if (keyword) {
				this.fetchIndex(event.page,event.itemsPerPage,keyword)
			} else {
				this.fetchIndex(event.page,event.itemsPerPage)
			}
		},
		fetchIndex(page=this.curr_page,per_page=this.per_page,value){
			this.annoncePerPage=per_page
			AnnonceRepository.get(page,per_page,value)
				.then(({data}) => {
					this.annonces.contents=data.data
					this.annonces.count=data.total
					this.searching='mdi-magnify'
				})
		},
		toggle () {
			this.$nextTick(() => {
				if (this.AllFilter) {
					this.selectedFilters = []
				} else {
					this.selectedFilters = this.filters.slice()
				}
			})
		},	
		close() {
			this.dialog=false
		}
	},
	watch: {
	   	search(value) {
			if (value) {
				clearTimeout(this.time)
				this.time = setTimeout( () => {
					this.fetchIndex(this.curr_page,this.per_page,value)
					this.searching="mdi-loading mdi-spin"
				}
				,500)
			} else {
				this.fetchIndex()
			}
	   	},
	   	dialog (val) {
	        val || this.close()
		},	
	},
	computed: {
		AllFilter () {
			return this.selectedFilters.length === this.filters.length
		},
		SomeFilter () {
			return this.selectedFilters.length > 0 && !this.AllFilter
		},
		icon () {
			if (this.AllFilter) return 'mdi-close-box'
			if (this.SomeFilter) return 'mdi-minus-box'
			return 'mdi-checkbox-blank-outline'
		},
	},
	mounted() {

	},
	created() {

	},
	components: {
		addAnnonce
	}
}
</script>
<style scoped>
	
</style>
