<template>
	<v-row no-gutters>
		<v-col sm="10">
			<v-btn @click="$router.go(-1)"" fab dark small color="danger">
			<!-- <v-btn :to="{name:'annonces'}" fab dark small color="danger"> -->
				<v-icon dark>mdi-arrow-left</v-icon>
			</v-btn>
		</v-col>
		<v-spacer></v-spacer>
		<v-col sm="2">
	        <v-select
	          	:items="publishStatus"
	          	v-model="annonce.is_public"
	          	item-text="text"
	          	item-value="id"
	          	label="Annonce Status"
				@change="updateData"
				:loading="statusloader"
				dense
	        ></v-select>
		</v-col>
		<v-row >
			<v-col md="auto">
				<v-card
					width="350"
				>
					<v-card-title>{{annonce.title}}</v-card-title>
					<v-card-subtitle>{{annonce.description}}</v-card-subtitle>

					<v-card-text>
						<p class="subtitle-4"><h4>Delivery From : </h4>{{annonce.pick_address | novalue}} </p>
						<p class="subtitle-4"><h4>Delivery To :</h4> {{annonce.drop_address | novalue}} </p>
						<p class="subtitle-4"><h4>Distance :</h4> {{annonce.distance | novalue}} </p>
						<p class="subtitle-4"><h4>Budget :</h4> {{annonce.price_range | novalue}} </p>
						<p class="subtitle-4"><h4>Pick Up Date :</h4> 
							From : {{annonce.pick_date_from | novalue}}<br>
							To : {{annonce.pick_date_to | novalue}}</p>
						<p class="subtitle-4"><h4>Drop Date :</h4> 
							From : {{annonce.drop_date_from | novalue}}<br>
							To : {{annonce.drop_date_to | novalue}} </p>
						<!-- <p class="subtitle-4"><h4>Status :</h4> {{annonce.status.title | capitalize | novalue}} </p> -->
						<v-divider></v-divider>
						<p class="subtitle-4">
							<h4>Category :
								<v-btn text icon color="red darken-2" @click="showCategory(annonce.category_id)" >
									<v-icon style="font-size: 17px">mdi-link</v-icon>
								</v-btn>
							</h4> 
							{{annonce.category.name}}
						</p>
						<p class="subtitle-4">
							<h4>Client :
								<v-btn text icon color="red darken-2" @click="showClient(annonce.client_id)" >
									<v-icon style="font-size: 17px">mdi-link</v-icon>
								</v-btn>
							</h4> 
							{{annonce.client.fullname}}
						</p>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col>
				<v-card>
					<v-tabs
					  	background-color="red darken-2"
					  	centered
				      	dark
				      	icons-and-text
				      	grow
				      	v-model="tab"
					>
						<v-tabs-slider></v-tabs-slider>
					  	<v-tab href="#tab-transporters">
					    	Transpertuers Bid
					    	<v-icon>mdi-account-tie-voice</v-icon>
					  	</v-tab>	
					  	<v-tab href="#tab-items">
					    	Items
					    	<v-icon>mdi-cart</v-icon>
					  	</v-tab>	
					  	<v-tab href="#tab-comments">
					    	Questions
					    	<v-icon>mdi-account-question</v-icon>
					  	</v-tab>	
					</v-tabs>
					<v-tabs-items v-model="tab">
					  	<v-tab-item
					        :value="'tab-items'"
					  	> 
					    	<items/>
					  	</v-tab-item>
					  	<v-tab-item
					        :value="'tab-comments'"
					  	> 
					    	<comments/>
					  	</v-tab-item>
					  	<v-tab-item
					        :value="'tab-transporters'"
					  	> 
					    	<transporters/>
					  	</v-tab-item>
				  	</v-tabs-items>
				</v-card>
			</v-col>
		</v-row>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import items from "./Includes/items.vue";
import transporters from "./Includes/transporters.vue";
import comments from "./Includes/comments.vue";
const AnnonceRepository = Repository.get("annonces");
export default {
	data: () => ({
		annonce: {
			category:{},
			client:{},
			status:{}
		},
		tab: null,
		publishStatus:[
			{
				id:1,
				text:'Public'
			},
			{
				id:0,
				text:'Archived'
			},
		]
	}),

	methods: {
		fetchData(page=1,per_page=10){
			AnnonceRepository.show(this.$route.params.id,page,per_page)
			.then(({data}) => {
				this.annonce=data.annonce
			})
		},
		showCategory(id) {
			this.$router.push({name:'showCategories',params:{id:id}})
		},
		showClient(id) {
			this.$router.push({name:'showClients',params:{id:id}})
		},
		updateData(event) {
			AnnonceRepository.update({is_public:event},this.$route.params.id)
                .then(({data}) => {
                })
		},
	},
	watch: {
	
	},
	created() {
		this.fetchData()
	},

	components: {
		items,
		transporters,
		comments
	}
}
</script>
<style scoped>

</style>
