<template>
	<v-row>
		<v-col>
			<v-card>
				<v-card-title class="mb-0 pb-0">
					Transactions
					<v-spacer></v-spacer>
					<v-col class="d-flex " sm="5">
						<v-text-field
							v-model="search"
							label="Search"
							clearable
							single-line
							hide-details
							:append-icon="searching"
						></v-text-field>
					</v-col>
				</v-card-title>
				<v-data-table
					:search="search"
					:headers="transactions.headers"
					:items="transactions.contents"
					:server-items-length="transactions.count"
					:loading="loader"
					:footer-props="footerPages"
					:items-per-page="transactionPage"
					@pagination="fetchPage"
					@click:row="fetchShow"
					class="elevation-1" 
				>
				</v-data-table>
			</v-card>
		</v-col>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const TransactionRepository = Repository.get("transactions");
export default {
	data() {
		return{
			transactions:{
				contents:[],
				count:0,
				headers:[
					{text:'Annonce',align:'left',sortable:false,value:'title'},
					{text:'Transportuer',align:'left',sortable:false,value:'description',width:'40%'},
					{text:'Payment Date',align:'left',sortable:false,value:'created_at'},
				],
			},
			dialog: false,
			loading: 0,
			publishing:false,
			search:'',
			searching:'mdi-magnify',
			time:null,
		}
	},
	methods: {
		fetchShow(item){
			this.$router.push({name:'showTransactions',params:{id:item.id}})
		},
		fetchPage(event){
			let keyword = this.search
			if (keyword) {
				this.fetchIndex(event.page,event.itemsPerPage,keyword)
			} else {
				this.fetchIndex(event.page,event.itemsPerPage)
			}
		},
		fetchIndex(page=this.curr_page,per_page=this.per_page,value){
			this.transactionPerPage=per_page
			TransactionRepository.get(page,per_page,value)
				.then(({data}) => {
					this.transactions.contents=data.data
					this.transactions.count=data.total
					this.searching='mdi-magnify'
				})
		},
		close() {
			this.dialog=false
		}
	},
	watch: {
	   	search(value) {
			if (value) {
				clearTimeout(this.time)
				this.time = setTimeout( () => {
					this.fetchIndex(this.curr_page,this.per_page,value)
					this.searching="mdi-loading mdi-spin"
				}
				,500)
			} else {
				this.fetchIndex()
			}
	   	},
	   	dialog (val) {
	        val || this.close()
		},	
	},
	computed: {
	
	},
	mounted() {

	},
	created() {

	},
	components: {

	}
}
</script>
<style scoped>
	
</style>
