<template>
    <v-card>
	    <v-card-title>
	      	<span class="headline"> {{title}} </span>
	    </v-card-title>

	    <v-card-text>
	    	<alert-dialog/>
	      	<v-container>
	      		<v-row>
	      			<v-col lg="4">

	      				<v-row>
	      					<v-col>
	      						<v-img
		      						v-if="url"
		      						:src="url"
		      						aspect-ratio="1"
		      						class="grey lighten-2"
	      						></v-img>
	      						<v-img
		      						v-else
		      						aspect-ratio="1"
		      						class="grey lighten-2"
	      						></v-img>
	      					</v-col>
	      				</v-row>
	      				<template>
	      					<v-btn 
	      						block 
	      						color="secondary" 
	      						dark 
	      						small
	      						@click="selectFile"
	      					>
	      						<v-icon left>mdi-upload</v-icon>
	      						Upload Image
	      					</v-btn>
	      					<input 
	      						type="file" 
	      						ref="setFile" 
		      					v-show="false"
	      						accept="image/*"
		      					@input="checkImage"
	      					>
	      					<!-- <v-file-input
		      					accept="image/*" 
		      					show-size
		      					:error="err"
		      					@change="checkImage"
		      					v-show="false"
	      					></v-file-input> -->
	      				</template>
	      			</v-col>
		      		<v-col lg="8">
			        	<v-form
						    ref="form"
						    v-model="valid"
						    lazy-validation
						>
						    <v-text-field
						      	v-model="editedCategory.name"
						     	label="Name"
						     	:rules="nameRules"
						      	required
						      	ref="name"
						    ></v-text-field>
						    <v-textarea
						      	name="description"
						      	v-model="editedCategory.description"
						      	label="Description"
						      	auto-grow
					      	 	rows="2"
						    ></v-textarea>
							<v-card-actions >
						      	<v-spacer></v-spacer>
			      				<v-btn color="grey darken-1" text @click="close">Close</v-btn>
			      				<v-btn color="grey darken-4" :disabled="err" :loading="statusloader" text @click="saveData">Save</v-btn>
							</v-card-actions>
		  				</v-form>
	  				</v-col>
	      		</v-row>
	      	</v-container>
	    </v-card-text>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const CategoryRepository = Repository.get("categories");
export default {
	props: {
		categoryData:{
			type: Object
		},
	},
    data() {
    	return {
    		defaultCategory:{
	    		name:'',
    			description:'',
    			file:{},
    		},
    		editedIndex:-1,
    		editedCategory: {
    			name:'',
    			description:'',
    			file:{},
    		},
    		err:false,
    		nameRules: [
    			v=>!!v || 'Name is required',
				v=>(v || '').length >= 3 || 'Name must be at least 3 characters'
	    	],
	    	snackbar:false,
	    	url:null,
	    	valid: true,
    	}
    },
    methods: {
    	validate () {
        	if (this.$refs.form.validate()) this.snackbar = true
        	else this.snackbar = false
    	},
    	reset () {
        	this.$refs.form.reset()
      	},
      	resetValidation () {
       		this.$refs.form.resetValidation()
      	},
    	saveData() {
    		this.validate()
    		if (!this.snackbar) return	
    		let formData= new FormData()
    		formData.append('name',this.editedCategory.name)
    		formData.append('description',this.editedCategory.description)
    		formData.append('file',this.editedCategory.file)

    		if (this.editedIndex > -1) {
    			formData.append('_method','patch')
    			formData.append('id',this.editedCategory.id)
    			CategoryRepository.update(formData,this.editedCategory.id)
	    			.then(({data}) => {
	    				this.close()
	    			})
    		} else {
	    		CategoryRepository.create(formData)
	    			.then(({data}) => {
	    				this.close()
	    			})
    		}

    	},
    	selectFile() {
    		this.$refs.setFile.click()
    	},
    	checkImage(event) {
    		let file = event.target.files[0]
    		if (file) {
    			if (file.type.indexOf('image')==-1) {
    				this.err=true
	    		} else {
					this.err=false
		    		this.editedCategory.file=file
		    		this.url=URL.createObjectURL(file)
	    		}
    		} else {
    			this.err=false
    		}
    	},
    	close() {
          	this.editedIndex = -1
			this.resetValidation()
			this.reset()
			this.offAlert()
			this.url=null
			this.$emit('close')
    	},
    	offAlert() {
    		this.$store.commit('SHOW_ALERT',{visibility:0})
    	}
    },
    watch: {
    	categoryData: {
    		handler(value) {
    			this.editedCategory=Object.assign({},value)
		    	if (value.file) this.url=this.asset(value.file)
    			this.editedIndex=value.id
	    	},
	    	deep:true,
	    	immediate:true,
    	},
    	editedCategory: {
    		handler(value) {
			    if (!value.name) this.offAlert()
	    	},
	    	deep:true,
	    	immediate:true,
    	}
    },
    computed: {
    	title() {
    		return this.editedIndex === -1 || this.editedIndex === undefined ? 'New category' : 'Edit category'
    	},
    },
    mounted() {
		

    },
    created() {

    }
}
</script>
<style scoped>

</style>