<template>
    <v-row>
		<v-col>
			<v-card>
				<v-card-title class="mb-0 pb-0">
					Categories
				</v-card-title>
				<v-data-table
					:headers="categories.headers"
					:items="categories.contents"
					:server-items-length="categories.count"
					:loading="loader"
					:footer-props="footerPages"
					:items-per-page="annoncePage"
					@pagination="fetchPage"
					@click:row="fetchShow"
					class="elevation-1" 
				>
					<template v-slot:item.file="{ item }">
						<v-img
							v-if="item.file"
		                  	:src="asset(item.file)"
		                  	aspect-ratio="1"
		                  	class="grey lighten-2"
		                  	max-height="35"
		                  	max-width="35"
		                ></v-img>
						<v-img
							v-else
		                  	aspect-ratio="1"
		                  	class="grey lighten-2"
		                  	max-height="35"
		                  	max-width="35"
		                ></v-img>
					</template>
					<template v-slot:item.description="{ item }">
						{{item.description | novalue}}
					</template>
					<template v-slot:item.status="{ item }">
						<v-switch
							dense
							:loading="item.id==loading"
							:flat="false"
							:inset="false"
							color="green darken-2"
							v-model="item.status"
							@click.stop=""
							@change="changestatus(item.id,item.status)"
						></v-switch>
					</template>
					<template v-slot:item.actions="{ item }">
						<v-btn 
							:color="basecolor" 
							outlined 
							fab 
							x-small 
							dark
							@click.stop="editItem(item)"
						>
			              	<v-icon>mdi-pencil</v-icon>
			            </v-btn>
						<v-btn 
							:color="basecolor" 
							outlined 
							fab 
							x-small 
							dark
							@click.stop="deleteItem(item.id)"
						>
			              	<v-icon>mdi-trash-can</v-icon>
			            </v-btn>
					</template>

				</v-data-table>
				<delete-dialog/>
				<v-dialog 
					persistent
					v-model="dialog" 
					max-width="30%"
				>
			      	<template v-slot:activator="{ on }">
			            <v-btn
			                :color="basecolor"
			                dark
			                absolute
			                top
			                right
			                fab
			                v-on="on"
			          	>
                			<v-icon>mdi-plus</v-icon>
              			</v-btn>
          			</template>
		          	<addCategory :categoryData="category" v-on:close="close" v-on:changestatus="changestatus" />
		        </v-dialog>
			</v-card>
		</v-col>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import addCategory from "./Add.vue";
const CategoryRepository = Repository.get("categories");
export default {
	data() {
		return{
			categories:{
				contents:[],
				count:0,
				headers:[
					{text:'',align:'left',sortable:false,value:'file'},
					{text:'Name',align:'left',sortable:false,value:'name'},
					{text:'Description',align:'left',sortable:false,value:'description'},
					{text:'Annonces Count',align:'center',sortable:false,value:'annonces_count'},
					{text:'Published',align:'left',sortable:false,value:'status'},
					{text:'Actions',align:'center',sortable:false,value:'actions'},
				],
			},
			category:{},
			dialog:false,
			loading: 0,
			publishing:false,
		}
	},
	methods: {
		changestatus(id,value) {
			this.loading=id
			CategoryRepository.update({status:value,_method:'patch'},id)
				.then(({data}) => {
					this.loading=0
				})
		},
		fetchShow(item){
			this.$router.push({name:'showCategories',params:{id:item.id}})
		},
		fetchPage(event){
			this.fetchIndex(event.page,event.itemsPerPage)
		},
		fetchIndex(page=this.curr_page,per_page=this.per_page){
			this.categoryPerPage=per_page
			CategoryRepository.get(page,per_page)
				.then(({data}) => {
					this.categories.contents=data.data
					this.categories.count=data.total
				})
		},
		close() {
			this.dialog=false
			this.fetchIndex()
		},
      	editItem(item) {
			this.category=item
			this.dialog=true
      	},
      	deleteItem(id) {
      		this.$store.commit('CHANGE_DELETE',true)
      		CategoryRepository.delete(id)
				.then(({data}) => {
					let index = this.categories.contents.findIndex((item)=>{
						return item.id==id
					})
					this.categories.contents.splice(index,1)
					this.categories.count-=1
				})
      	}
	},
	watch: {
		dialog (val) {
	        val || this.close()
		},
		deleteDialog(value) {
			if (!value) return

			setTimeout(()=>(this.$store.commit('CHANGE_DELETE',false)),4000)
		}
	},
	computed: {
		
	},
	mounted() {

	},
	created() {

	},
	components: {
		addCategory
	}
}
</script>
<style scoped>

</style>