<template>
    <v-row no-gutters>
		<v-col sm="10">
			<v-btn @click="$router.go(-1)"" fab dark small color="danger">
			<!-- <v-btn :to="{name:'categorys'}" fab dark small color="danger"> -->
				<v-icon dark>mdi-arrow-left</v-icon>
			</v-btn>
		</v-col>
		<v-spacer></v-spacer>
		<v-col sm="2">
	        <v-select
	          	:items="publishStatus"
	          	v-model="category.status"
	          	item-text="text"
	          	item-value="id"
	          	label="Category Status"
				@change="updateData"
				:loading="statusloader"
				dense
	        ></v-select>
		</v-col>
		<v-row >
			<v-col md="auto">
				<v-card
					width="350"
				>
					<v-img
						height="250"
						:src="category.file?asset(category.file):'/img/annonce.png'"
					></v-img>

					<v-card-title>{{category.name}}</v-card-title>
					<v-card-subtitle>{{category.description}}</v-card-subtitle>

					<v-card-text>
						<div class="subtitle-1">Total annonces: {{category.annonces_count}}</div>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col>
				<v-card>
					<v-tabs
					  	background-color="red darken-2"
					  	centered
				      	dark
				      	icons-and-text
				      	grow
				      	v-model="tab"
					>
						<v-tabs-slider></v-tabs-slider>
					  	<v-tab href="#tab-annonces">
					    	Annonces
					    	<v-icon>mdi-bullhorn</v-icon>
					  	</v-tab>	
					</v-tabs>
					<v-tabs-items v-model="tab">
					  	<v-tab-item
					        :value="'tab-annonces'"
					  	> 
					    	<annonces/>
					  	</v-tab-item>
				  	</v-tabs-items>
				</v-card>
			</v-col>
		</v-row>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import annonces from "./Includes/annonces.vue";
const CategoryRepository = Repository.get("categories");
export default {
    data: () => ({
		category: {
			annonces:{},
			items:{}
		},
		tab: null,
		publishStatus:[
			{
				id:1,
				text:'Public'
			},
			{
				id:0,
				text:'Archived'
			},
		]
	}),
	methods: {
		updateData(event) {
			CategoryRepository.update({status:event,_method:'patch'},this.$route.params.id)
                .then(({data}) => {
                })
		},
		fetchData(page=1,per_page=10){
			CategoryRepository.show(this.$route.params.id,page,per_page)
			.then(({data}) => {
				this.category=data.category
				// console.log(data)
			})
		},
	},
	watch: {
	
	},
	created() {
		this.fetchData()
	},

	components: {
		annonces
	}
}
</script>
<style scoped>

</style>