<template>
    <v-row justify="center">
    	<v-col cols="12" lg="4" md="6" sm="8">
      		<v-card>
    			<v-card-text>
      				<v-form
					    ref="form"
					    v-model="valid"
					    lazy-validation
					>
					    <v-text-field
					      	v-model="email"
					      	:rules="emailRules"
					      	label="E-mail"
					      	required
						    :clearable="true"
					    ></v-text-field>

				    	<v-text-field
				            v-model="password"
				            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
				            :rules="[rules.required]"
				            :type="show1 ? 'text' : 'password'"
				            name="input-10-1"
				            label="Password"
				            @click:append="show1 = !show1"
				      	></v-text-field>

				     	<!-- <v-divider class="mt-12"></v-divider> -->

				        <v-card-actions>
				          <v-btn text>Cancel</v-btn>
				          <v-spacer></v-spacer>
				          <v-btn color="primary" text @click="validate">Submit</v-btn>
				        </v-card-actions>
				  	</v-form>
				</v-card-text>
    		</v-card>
		</v-col>
	</v-row>
</template>
<script>
export default {
    data: () => ({
      	valid: true,
      	password: '',
      	email: '',
      	emailRules: [
        	v => !!v || 'E-mail is required',
        	v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      	],
      	rules: {
          	required: value => !!value || 'Password is required.',
      	},
      	show1: false,
    }),
    methods: {
      	validate () {
        	if (this.$refs.form.validate()) {

	        } else {
	        	this.$refs.form.reset()
	        	this.resetValidation()
	        }
      	},
      	reset () {
        	this.$refs.form.reset()
      	},
      	resetValidation () {
        	this.$refs.form.resetValidation()
      	},
	},
}
</script>
<style scoped>

</style>