<template>
    <v-content>
       <v-container
           class="fill-height"
           fluid
       >
           <v-row
               align="center"
               justify="center"
           >
               <v-col
                   cols="12"
                   sm="8"
                   md="4"
               >
                   <v-card class="elevation-12">
                        <v-toolbar
                            :color="basecolor"
                            dark
                            flat
                        >
                            <v-toolbar-title>Login</v-toolbar-title>
                            <v-spacer />
                        </v-toolbar>
                        <v-card-text>
                            <alert-dialog/>
                            <v-form
                                ref="form"
                                v-model="valid"
                                lazy-validation
                            >
                                <v-text-field
                                    label="E-mail Address"
                                    v-model="email"
                                    :rules="emailRules"
                                    prepend-icon="mdi-account"
                                    :clearable="true"
                                    ref="email"
                                />
                                <v-text-field
                                    v-model="password"
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="show ? 'text' : 'password'"
                                    label="Password"
                                    :rules="[rules.password]"
                                    @click:append="show = !show"
                                    prepend-icon="mdi-lock"
                                />
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn text>
                                <a @click="resetPassword" >Forgot password?</a>
                            </v-btn>
                            <v-spacer />
                            <v-btn 
                                dark 
                                :color="basecolor" 
                                @click="doLogin"
                                :loading="btnloader"
                                class="ma-2"
                            >
                                Login
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script>
export default {
  	data() {
  		return {
  			email:null,
  			emailRules: [
	        	v => !!v || 'E-mail is required',
	      	],
  			password:null,
  			rules: {
  				password: v => !!v || 'Password should not be empty.'
  			},
  			show:false,
      		valid: true,
  		}
  	},
  	methods: {
  		doLogin() {
  			this.validate()
  		},
      resetPassword() {
        this.$router.push({name:'reset'})
      },
  		validate () {
        	if (this.$refs.form.validate()) {
	  			this.$store.dispatch('authenticateUser',{email:this.email,password:this.password})
		  			.then((data)=>{
		  				this.$router.push(data)
                        location.reload()
		  			})
	        } else {
	        	this.$refs.email.focus()
	        }
      	},
      	reset () {
        	this.$refs.form.reset()
      	},
      	resetValidation () {
        	this.$refs.form.resetValidation()
      	},
  	},
  	watch: {

  	},
  	computed: {

  	},
  	mounted() {

  	}
  }
</script>
