<template>
    <div>
        <v-card
        >   
            <v-data-table
                :headers="comments.headers"
                :items="comments.contents"
                :server-items-length="comments.count"
                :loading="loader"
                :footer-props="footerPages"
                :items-per-page="10"
                @pagination="fetchAPage"
                @click:row="showCommentData"
                class="elevation-1" 
            >
                <template v-slot:item.creator="{ item }">
                    <div v-if="item.clients[0]">{{item.clients[0].fullname}}</div>
                    <div v-if="item.transporters[0]">{{item.transporters[0].company}}</div>
                </template>
                <template v-slot:item.creator_type="{ item }">
                    <div v-if="item.clients[0]"><v-icon>mdi-account</v-icon> </div>
                    <div v-if="item.transporters[0]"><v-icon>mdi-truck</v-icon> </div>
                </template>
            </v-data-table>
        </v-card>
        <v-row justify="center">
            <commentDialog :comment_id="commentid" v-on:closedialog="commentid=null"/>
        </v-row>
    </div>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const AnnonceRepository = Repository.get("annonces");
const CommentRepository = Repository.get("comments");
import commentDialog from "./commentDialog.vue";
export default {
    data() {
        return {
            hint:'comments',
            comments: {
                headers:[
                    {text:'Created By',align:'left',sortable:false,value:'creator'},
                    {text:'',align:'left',sortable:false,value:'creator_type'},
                    {text:'Questions',align:'left',sortable:false,value:'comment'},
                    {text:'Date',align:'left',sortable:false,value:'created_at'},
                ],
                contents:[],
                count:0,
            },
            rawcomments:[],
            commentid:null,
        }
    },
    methods: {
        showCommentData(event) {
            this.commentid=event.id
        },
        fetchAPage(event) {
            this.fetchData(event.page,event.itemsPerPage,this.hint)
        },
        fetchData(page=1,per_page=10,hint){
            AnnonceRepository.show(this.$route.params.id,page,per_page,hint)
                .then(({data}) => {
                    this.comments.contents=data.comments.data
                    this.comments.count=data.comments.total
                    // console.log(this.comments.contents)
                })
        },

    },
    components: {
        commentDialog
    }
}
</script>
