<template>
    <div>
        <v-row justify="center">
            <v-dialog v-model="dialog" scrollable max-width="500">
                <v-card>
                    <v-card-text style="height: 80%;" class="p-3">
                        <div v-model="filteredComment">
                            <div 
                                class="d-flex"
                                v-if="filteredComment.hint"
                            >
                                <v-avatar :color="basecolor" size="36">
                                    <v-icon dark>mdi-truck</v-icon>
                                </v-avatar>
                                <div 
                                    class="chip-usage ml-1" 
                                >
                                    <span  class="font-weight-bold mr-1 text-uppercase name">{{filteredComment.name}} : </span>
                                    <span class="">{{filteredComment.comment}}</span>
                                    
                                </div>
                            </div>
                            <div 
                                class="d-flex"
                                v-else
                            >
                                <v-avatar :color="basecolor" size="36">
                                    <v-icon dark>mdi-account</v-icon>
                                </v-avatar>
                                <div 
                                    class="chip-usage ml-1" 
                                >
                                    <span  class="font-weight-bold mr-1 text-uppercase name-2">{{filteredComment.name}} : </span>
                                    <span>{{filteredComment.comment}}</span>
                                </div>
                            </div>

                            <div class="text-right mb-3"><span class="caption">{{filteredComment.date}}</span></div>

                            <div 
                                v-for="child in filteredComment.children"
                                class="ml-5 pl-5" 
                            >
                                <div 
                                    class="d-flex"
                                    v-if="child.transporters[0]"
                                >
                                    <v-avatar :color="basecolor" size="36">
                                        <v-icon dark>mdi-truck</v-icon>
                                    </v-avatar>
                                    <div 
                                        class="chip-usage ml-1" 
                                    >
                                        <span  class="font-weight-bold mr-1 text-uppercase name">{{child.transporters[0].company}} : </span>
                                        <span>{{child.comment}}</span>
                                    </div>
                                </div>
                                <div 
                                    class="d-flex"
                                    v-else
                                >
                                    <v-avatar :color="basecolor" size="36">
                                        <v-icon dark>mdi-account</v-icon>
                                    </v-avatar>
                                    <div 
                                        class="chip-usage ml-1" 
                                    >
                                        <span  class="font-weight-bold mr-1 text-uppercase name-2">{{child.clients[0].fullname}} : </span>
                                        <span>{{child.comment}}</span>
                                    </div>
                                </div>

                                <div class="text-right mb-3"><span class="caption">{{child.created_at}}</span></div>

                                <div 
                                    v-for="child2 in child.children"
                                    class="ml-5 pl-5" 
                                >
                                    <div 
                                        class="d-flex"
                                        v-if="child2.transporters[0]"
                                    >
                                        <v-avatar :color="basecolor" size="36">
                                            <v-icon dark>mdi-truck</v-icon>
                                        </v-avatar>
                                        <div 
                                            class="chip-usage ml-1" 
                                        >
                                            <span  class="font-weight-bold mr-1 text-uppercase name">{{child2.transporters[0].company}} : </span>
                                            <span>{{child2.comment}}</span>
                                        </div>
                                    </div>
                                    <div 
                                        class="d-flex"
                                        v-else
                                    >
                                        <v-avatar :color="basecolor" size="36">
                                            <v-icon dark>mdi-account</v-icon>
                                        </v-avatar>    
                                        <div 
                                            class="chip-usage ml-1" 
                                        >
                                            <span  class="font-weight-bold mr-1 text-uppercase name-2">{{child2.clients[0].fullname}} : </span>
                                            <span>{{child2.comment}}</span>
                                        </div>
                                    </div>

                                    <div class="text-right mb-3">
                                        <span class="caption">{{child2.created_at}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-card-text>
                    <!-- <v-divider></v-divider> -->
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :color="buttoncolor" text @click="dialog = false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const CommentRepository = Repository.get("comments");
export default {
    props: {
        comment_id:null,
    },
    data() {
        return {
            comment:{
                clients:'',
                transporters:'',
            },
            dialog: false,
            filteredComment:{
                children:[]
            },
            hint:'comments',
        }
    },
    methods: {
        showCommentData(event) {
            this.initialState()
            CommentRepository.show(event)
                .then(({data}) => {
                    if (data.clients[0]) {
                        this.filteredComment.name=data.clients[0].alias
                        this.filteredComment.hint=false
                    } else if (data.transporters[0]){
                        this.filteredComment.name=data.transporters[0].alias
                        this.filteredComment.hint=true
                    }
                    this.filteredComment.date=data.created_at
                    this.filteredComment.comment=data.comment
                    Object.assign(this.filteredComment.children,data.children)
                    this.dialog=true
                })
        },
        initialState() {
            this.filteredComment.children=[]
        },
    },
    watch: {
        comment_id(value) {
            if (value) this.showCommentData(value)
        },
        dialog(value) {
            if (!value) this.$emit('closedialog')
        },
    },
    created() {
            
    }
}
</script>
