<template>
	<v-card
	>	
		<v-data-table
			:headers="items.headers"
			:items="items.contents"
			:server-items-length="items.count"
			:loading="loader"
			:footer-props="footerPages"
			:items-per-page="10"
			@pagination="fetchAPage"
			class="elevation-1" 
		>
		</v-data-table>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const AnnonceRepository = Repository.get("annonces");
export default {
	data() {
		return {
			hint:'items',
			items: {
				headers:[
					{text:'Name',align:'left',sortable:false,value:'name'},
					{text:'Quantity',align:'center',sortable:false,value:'quantity'},
					{text:'Height',align:'center',sortable:false,value:'height'},
					{text:'Width',align:'center',sortable:false,value:'width'},
					{text:'Length',align:'center',sortable:false,value:'length'},
					{text:'Weight',align:'center',sortable:false,value:'weigh'},
				],
				contents:[],
				count:0,
			},
			annonce:{},
		}
	},
	methods: {
		fetchAPage(event) {
			this.fetchData(event.page,event.itemsPerPage,this.hint)
		},
		fetchData(page=1,per_page=10,hint){
			AnnonceRepository.show(this.$route.params.id,page,per_page,hint)
				.then(({data}) => {
					this.items.contents=data.items.data
					this.items.count=data.items.total
				})
		},

	},
	mounted() {

	},
	filters: {
		
	},
}
</script>
