<template>
	<v-card
	>	
		<v-data-table
			:headers="transporters.headers"
			:items="transporters.contents"
			:server-items-length="transporters.count"
			:loading="loader"
			:footer-props="footerPages"
			:items-per-page="10"
			@pagination="fetchAPage"
			@click:row="showTransporter"
			class="elevation-1" 
		>
			<template v-slot:item.pivot.price="{ item }">
		      	<div class="text-left">{{ item.pivot.price | formatNumberFR}} &euro;</div>
		    </template>
		</v-data-table>
	</v-card>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const AnnonceRepository = Repository.get("annonces");
export default {
	data() {
		return {
			hint:'transporters',
			transporters: {
				headers:[
					{text:'Company Name',align:'left',sortable:false,value:'company'},
					{text:'Contact Person',align:'left',sortable:false,value:'fullname'},
					{text:'Company Alias',align:'left',sortable:false,value:'alias'},
					{text:'Bid',align:'left',sortable:false,value:'pivot.price'},
					{text:'Date',align:'left',sortable:false,value:'created_at'},
				],
				contents:[],
				count:0,
			},
			annonce:{},
		}
	},
	methods: {
		showTransporter(item) {
			this.$router.push({name:'showTransporters',params:{id:item.id}})
		},
		fetchAPage(event) {
			this.fetchData(event.page,event.itemsPerPage,this.hint)
		},
		fetchData(page=1,per_page=10,hint){
			AnnonceRepository.show(this.$route.params.id,page,per_page,hint)
				.then(({data}) => {
					this.transporters.contents=data.transporters.data
					this.transporters.count=data.transporters.total
				})
		},
	},
	mounted() {

	},
	filters: {

	}
}
</script>
