<template>
    <div>
        <app-header></app-header>
        <app-left-sidebar></app-left-sidebar>
        <app-right-sidebar></app-right-sidebar>
        <app-footer></app-footer>
    </div>
</template>
<script>
import AppHeader from './AppHeader';
import AppFooter from './AppFooter';
import AppLeftSidebar from './AppLeftSidebar';
import AppRightSidebar from './AppRightSidebar';

export default {
    components:{
        AppHeader,
        AppFooter,
        AppLeftSidebar,
        AppRightSidebar
    }
}
</script>