<template>
	<v-row no-gutters>
		<v-col lg="12">
			<v-btn :to="{name:'clients'}" fab dark small color="danger">
				<v-icon dark>mdi-arrow-left</v-icon>
			</v-btn>
		</v-col>
		<v-row >
			<v-col>
				<v-card
				    class="col-6"
				>
					<v-card-title>
			      		<span class="title font-weight-light">Basic Information</span>
					</v-card-title>
					<v-card-text class="headline ">
						<v-form
						    ref="form"
					  	>
						    <v-select
						      	v-model="select"
						      	:items="items"
						      	:rules="[v => !!v || 'Item is required']"
						      	label="Select "
						      	required
						    ></v-select>

						    <v-text-field
						      	v-model="name"
						      	:rules="nameRules"
						      	label="Name"
						      	required
						    ></v-text-field>

						    <v-text-field
						     	 v-model="email"
						      	:rules="emailRules"
						      	label="E-mail"
						      	required
						    ></v-text-field>

					  </v-form>
				    </v-card-text>
				    <v-card-actions>
				    	<v-btn
					      	color="warning"
					     	@click="formSubmit"
				    	>
						      Submit
					    </v-btn>
				    </v-card-actions>
				</v-card>
			</v-col>
		</v-row>
	</v-row>
</template>
<script>
  export default {
    data: () => ({
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 8) || 'Password must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      select: null,
      items: [
        'Transportuer',
        'Client',
      ],
    }),

    methods: {
      formSubmit () {
      	console.log('formSubmit')
      },
    },
  }
</script>
<style scoped>

</style>