<template>
	<v-row>
		<v-col>
		<!-- <v-col class="text-right">
			<v-btn :to="{name:'addClients'}" dark color="red darken-2" class="ma-2">
				<v-icon left>mdi-plus</v-icon>
				Ajouter
			</v-btn>
		</v-col> -->

			<v-card>
				<v-card-title>
					Clients
					<v-spacer></v-spacer>
					<v-col class="d-flex " sm="5">
						<v-text-field
							v-model="search"
							label="Search"
							clearable
							single-line
							hide-details
							:append-icon="searching"
						></v-text-field>
					</v-col>
					<!-- <v-btn :to="{name:'addClients'}" dark color="red darken-2" class="ma-2">
						<v-icon left>mdi-plus</v-icon>
						Ajouter
					</v-btn> -->
				</v-card-title>
				<v-data-table
					:headers="clients.headers"
					:items="clients.contents"
					:server-items-length="clients.count"
			        :loading="loader"
			        :footer-props="footerPages"
				  	:items-per-page="clientPage"
					@pagination="fetchPage"
					item-key="fullname"
					@click:row="fetchShow"
					class="elevation-1" 
				>
				</v-data-table>
			</v-card>
		</v-col>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
const ClientRepository = Repository.get("clients");
export default {
	data() {
		return{
			clients:{
				headers:[
					{text:'Name',align:'left',sortable:false,value:'fullname'},
					{text:'Email',align:'left',sortable:false,value:'email'},
					{text:'Company',align:'left',sortable:false,value:'company'},
					{text:'Address',align:'left',sortable:false,value:'fulladdress'},
					{text:'Total Payments',align:'center',sortable:false,value:'telephone'},
					{text:'Total Requests',align:'center',sortable:false,value:'annonces_count'},
				],
				contents:[],
				count:0,
			},
			search:'',
			searching:'mdi-magnify',
			time:null,
		}
    },
    methods: {
    	fetchShow(item){
			this.$router.push({name:'showClients',params:{id:item.id}})
    	},
    	fetchPage(event){
    		let keyword = this.search
			if (keyword) {
				this.fetchIndex(event.page,event.itemsPerPage,keyword)
			} else {
				this.fetchIndex(event.page,event.itemsPerPage)
			}
    	},
		fetchIndex(page=this.curr_page,per_page=this.per_page,value){
    		this.clientPerPage=per_page
    		ClientRepository.get(page,per_page,value)
		      	.then(({data}) => {
		      		this.clients.contents = data.data
		      		this.clients.count=data.total
					this.searching='mdi-magnify'
		      	})
    	}
    },
    watch: {
	   	search(value) {
			if (value) {
				clearTimeout(this.time)
				this.time = setTimeout( () => {
					this.fetchIndex(this.curr_page,this.per_page,value)
					this.searching="mdi-loading mdi-spin"
				}
					,500)
			} else {
				this.fetchIndex()
			}
	   	}	
	},
    mounted() {

    },
    created() {

    }
}
</script>
<style scoped>
	
</style>
