<template>
	<v-row no-gutters>
		<v-col lg="12">
			<!-- <v-btn :to="{name:'clients'}" fab dark small color="danger"> -->
			<v-btn @click="$router.go(-1)"" fab dark small color="danger">
				<v-icon dark>mdi-arrow-left</v-icon>
			</v-btn>
		</v-col>
		<v-row >
			<v-col md="auto">
				<v-card
					width="350"
				>
					<v-img
						height="250"
						:src="client.logo?client.logo:'/img/annonce.png'"
					></v-img>

					<v-card-title>{{client.company}}</v-card-title>

					<v-card-text>
						<div class="subtitle-1">{{client.fullname}}</div>
						<div class="subtitle-3">{{client.fulladdress}}</div>
						<div class="subtitle-4">Email : {{client.email}} </div>
						<div class="subtitle-4">Tel # : {{client.telephone}} </div>
						<div class="subtitle-4">Status : {{client.status?'Active':'Disabled'}} </div>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col>
				<v-card>
					<v-tabs
					  	background-color="red darken-2"
					  	centered
				      	dark
				      	icons-and-text
				      	grow
				      	v-model="tab"
					>
						<v-tabs-slider></v-tabs-slider>
					  	<v-tab href="#tab-annonces">
					    	Annonces
					    	<v-icon>mdi-bullhorn</v-icon>
					  	</v-tab>	
					  	<v-tab href="#tab-transporters">
					    	Deliveries
					    	<v-icon>mdi-truck-check</v-icon>
					  	</v-tab>
					  	<v-tab href="#tab-payments">
					    	Payments
					    	<v-icon>mdi-credit-card</v-icon>
					  	</v-tab>
					</v-tabs>
					<v-tabs-items v-model="tab">
					  	<v-tab-item
					        :value="'tab-annonces'"
					  	> 
					    	<annonces/>
					  	</v-tab-item>
					  	<v-tab-item
					        :value="'tab-transporters'"
					  	> 
					    	<transporters/>
					  	</v-tab-item>
					  	<v-tab-item
					        :value="'tab-payments'"
					  	> 
					    	<payments/>
					  	</v-tab-item>
				  	</v-tabs-items>
				</v-card>
			</v-col>
		</v-row>
	</v-row>
</template>
<script>
import Repository from "@backoffice/repositories/RepositoryFactory";
import annonces from "./Includes/annonces.vue";
import payments from "./Includes/payments.vue";
import transporters from "./Includes/transporters.vue";
const ClientRepository = Repository.get("clients");
export default {
	data: () => ({
		client: {},
		tab: null,
	}),

	methods: {
		fetchData(page=1,per_page=10){
			ClientRepository.show(this.$route.params.id,page,per_page)
			.then(({data}) => {
				this.client=data.client
			})
		},
		edit(event){
			this.$router.push({name:'editClients',params:{id:event}})
		},
	},
	created() {
		this.fetchData()
	},
	components: {
		annonces,
		payments,
		transporters
	}
}
</script>
<style scoped>

</style>
